{{#extend 'layout'}}
  {{#content 'main'}}
    <div class='container mx-auto px-4 py-8'>
      <div class='prose max-w-3xl mx-auto'>
        <h1>Om Bergen Digital</h1>
        <p>Vi prøvde å finne en oversikt over digitale byråer i Bergen, men det
          var ikke så lett som vi trodde.
        </p>

        <p>Hva med å lage en egen katalog vi kan dele med hele Bergen? Vi tenkte
          en slik katalog kunne være nyttig for mange og en fin måte å vise hva
          som er mulig å bygge med Codehooks.</p>
        <p>
          Savner du en leverandør som ikke er med? Send en e-post til
          <a href='mailto:info@bergendigital.net'>info@bergendigital.net</a>.
        </p>
        <!-- Template Information -->

        <h2>Bygg din egen katalog</h2>
        <p>Denne katalogen er bygget med
          <a href='https://codehooks.io'>Codehooks.io</a>. En superenkel og rask
          måte å bygge APIer og backends med. Codehooks er velegnet for raske
          integrasjoner og automasjoner.
          <br />
        </p>

        <h3>Hovedfunksjoner for katalog-malen</h3>
        <ul class='list-disc ml-6 mt-2'>
          <li>Backend drevet av Codehooks.io sin serverløse infrastruktur</li>
          <li>Moderne, responsivt frontend-design</li>
          <li>Innebygde søke- og filtreringsmuligheter</li>
          <li>Brukerautentisering og -administrasjon</li>
          <li>Tilpassbare kategorier og felter</li>
          <li>Enkel utrullingsprosess</li>
        </ul>

        <h3>Kom i gang</h3>
        <p>Lag din egen katalogtjeneste på få minutter:</p>
        <ol class='list-decimal ml-6 mt-2'>
          <li>Klon
            <a href='https://github.com/RestDB/directory-template'>mal-
              repositoriet</a></li>
          <li>Sett opp din Codehooks.io-konto</li>
          <li>Konfigurer miljøvariablene dine</li>
          <li>Tilpass kategorier og felter</li>
          <li>Rull ut tjenesten din</li>
        </ol>

        <p class='mt-4'>Begynn å bygge din katalogtjeneste i dag med vår nye
          mal!</p>
      </div>
    </div>

  {{/content}}
{{/extend}}