{{#extend 'layout'}}
  {{#content 'main'}}
    <div class='container mx-auto px-4 py-8'>
      <div class='prose max-w-3xl mx-auto'>
        <h1>Om DigiHub Bergen</h1>
        <p>Vi prøvde å finne en oversikt over digitale byråer i Bergen, men det
          var ikke så lett som vi trodde.
        </p>

        <p>Vi tenkte: Hva med å lage en egen katalog vi kan dele med hele
          Bergen? En slik katalog kunne kanskje være nyttig for mange og en fin
          måte å vise hva som er mulig å bygge med Codehooks. Vi kommer til å
          legge til andre byer etterhvert.</p>
        <p>
          Savner du en leverandør som ikke er med? Send en e-post til
          <a href='mailto:knutmt@codehooks.io'>knutmt@codehooks.io</a>.
        </p>
        <!-- Template Information -->

        <h2>Bygg din egen katalog</h2>
        <p>Denne katalogen er bygget med
          <a href='https://codehooks.io'>Codehooks.io</a>. En superenkel og rask
          måte å bygge APIer og backends med. Codehooks er velegnet for raske
          integrasjoner og automasjoner.
          <br />
        </p>

        <h3>Hovedfunksjoner for katalog-malen</h3>
        <ul class='list-disc ml-6 mt-2'>
          <li>Backend drevet av Codehooks.io sin serverløse infrastruktur</li>
          <li>Server-side rendering (SEO-vennlig)</li>
          <li>Moderne, responsivt frontend-design med Tailwind CSS og DaisyUI</li>
          <li>Innebygd søk og filtrering</li>
          <li>Maler i HTML og Handlebars - lett å tilpasse</li>
          <li>Dynamiske kategorier og felter</li>
          <li>Enkel utrullingsprosess</li>
        </ul>

        <h3>Kom i gang</h3>
        <p>Lag din egen katalogtjeneste på få minutter:</p>
        <ol class='list-decimal ml-6 mt-2'>
          <li>Klon det originale
            <a href='https://github.com/RestDB/directory-template'>mal-
              repositoriet</a>
            eller denne
            <a
              href='https://github.com/canuto/consulting-directory-norway'
            >fork'en</a></li>
          <li>Sett opp din Codehooks konto</li>
          <li>Lag et prosjekt og et space i codehooks.io</li>
          <li>Konfigurer miljøvariablene dine</li>
          <li>Legg inn domene (hvis du har)</li>
          <li>Tilpass kategorier og felter</li>
          <li>Rull ut tjenesten din med ferdiglagde script</li>
        </ol>

        <p class='mt-4'>Hva med å begynne å tenke på hva slags katalogtjeneste
          du vil dele med verden?</p>
      </div>
    </div>

  {{/content}}
{{/extend}}