 <div class="card card-side bg-base-200 shadow-sm flex flex-row relative rounded-none">
    <div class="absolute top-1 right-2 text-xs opacity-50 p-1">AD</div>
    <figure class="w-24">
        <img
        src="{{image}}"
        alt="Advertisement"
        class="h-[120px] object-cover" />
    </figure>
    <div class="card-body">
        <p>{{text}}</p>
        <div class="card-actions justify-end">
            <a href="{{link}}" target="_blank" rel="noopener noreferrer">{{linkText}}</a>
        </div>
    </div>
</div>